# terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# kubespray / kubeconfig / артефакты
kubespray/inventory/*/artifacts/
.kube/
*.retry

# secrets
secrets/*
!secrets/.gitkeep

# misc
*.swp
*.swo
.DS_Store
